{% extends "layout.html.twig" %}
{% block body %}

    <!-- Page Content -->
    <div class="container" id="home">
        <h3>C'est quoi le METAS?</h3>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8" >
          <p style="text-align: justify; padding-top: 15px"> Crée en  au sein de <b>l'Université de technologie de Belfort-Montbéliard(UTBM),
              le Mouvement des étudiants africains et sympathisants(Metas) </b> s'est donné pour obectif d'apporter
              "entraide et solidrité aux jeunes étudinats africains, de faciliter leur intégration et leur ouverture
              à la culture française et belfortaine". Cette ossociation qui regroupe chaque année scolaire une vingtaine d'étudiants
              de l'Aire urbaine, suivant un cursus à l'<b>UTBM</b> ou à l'institut universitaire de technologie de Belfort-Montbéliard, dispose
              d'une présidence tournante.
          </p>
            <div class="card text-center" >

                <div class="card-body">
                    <p class="card-text">Consultez les différentes actualités.</p>
                    <a href="/actu" class="btn btn-primary">Cliquez ici </a>
                </div>

            </div>
        </div>


        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h3  class="card-title">Dernière actualité</h3>
                  {% if event is not empty %}
                      <h6 class="card-subtitle mb-2 text-muted">{{ event.titre }}</h6>
                      <p class="card-text">{{ event.libelle|truncate(60)|raw }}</p>
                      <a class="card-link" href="/event/details?id={{ event.id }}">plus d'informations</a>
                  {% else %}
                    <p class="card-text" > Aucun évènement définie</p>
                  {% endif %}
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h3 class="card-title">Bons plans</h3>

                  {% if goodplans is not empty %}

                      <p class="card-text" ><a href="#">{{ goodplans.content|truncate(30)|raw}}</a></p>

                  {% else %}
                      <p class="card-text">Aucun bon plan disponible</p>
                  {% endif %}

                 <a class="" href="#">Liste complète</a>
                </div>
            </div>

      </div>
      <!-- /.row -->


      <div class="row">

       

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

  {% endblock %}